body{
	padding-top: 70px;
}
.jumbotron{
	color: #2c3e50;
	background: #ecf0f1
}
.navbar-inverse{
	background: #2c3e50;
}
.navbar-inverse .navbar-nav > li > a {
	color: white;
}
.navbar-inverse .navbar-brand{
	color: white;
}

#fixthis{
	height: auto;
	width: auto;
	max-height: 233.09px;
	max-width: 350px;
}
#fixthis2{
	height:437.5px;
	width: 467.5px;
	
}